.pokCard {
	outline: 2px solid Aquamarine;
	margin: 10px;
	padding: 7px;
}

.pokDeckWr{
	display: flex;
	flex-wrap: wrap;
	padding-left: 1%;
	padding-right: 0.5%;
}

.pokName {
	color: #01796f;
}

.pokImg{
	width: 200px;
}

.catchBtn{
	background-color: #01796f;
}
